{% extends "base.twig" %}

{% block content %}

	{% block single_hero %}

		<div class="single-hero">

			<div class="container-fluid">

				{% block single_overline %}{% endblock %}

				<h1 class="single-title">
					{{ post.title|default(page_title) }}
				</h1>

				{% block single_subtitle %}{% endblock %}

			</div>

		</div>

	{% endblock %}

	{% block before_single_body %}{% endblock %}

	{% block single_body %}

		<div class="section">

			<div class="container-fluid">

				<div class="row">

					<div class="col-lg-6 col-md-8 col-lg-offset-3 col-md-offset-2">

						{% block before_single_content %}{% endblock %}

						{% block single_content %}
							<div class="the-content">
								{{ post.content }}
							</div>
						{% endblock %}

						{% block after_single_content %}{% endblock %}

					</div>

				</div>

			</div>

		</div>

	{% endblock %}

	{% block after_single_body %}{% endblock %}

{% endblock %}