{% extends 'page.twig' %}

{% block single_body %}

	<div class="container-fluid">

		<div class="section">

			<div class="card-teases-grid">

				{% for term in terms %}

					<a href="{{ term.link }}" class="card-tease text-center">

						<div class="card-tease__overline">
							{{ term.posts(-1, 'business')|length }} Local Businesses
						</div>

						<h3 class="card-tease__title card-tease__title--large">
							{{ term.name }}
						</h3>

					</a>

				{% endfor %}

			</div>

		</div>

	</div>

{% endblock %}