<div class="mobile-drawer" id="mobileDrawer">

	<nav class="mobile-menu" id="mobileMenu" aria-hidden="true">

		<button class="mobile-menu__close" id="mobileMenuClose" aria-controls="mobileMenu">
			<i class="fa fa-close" aria-hidden="true"></i>
			<span class="sr-only">Close Menu</span>
		</button>

		{% if mobile_menu %}

			<ul class="mobile-menu__list">

				{% for item in mobile_menu.items %}

					<li class="mobile-menu__item {{ item.classes|join(' ') }}">

						<a class="mobile-menu__link" href="{{ item.url }}">
							{{ item.title }}
						</a>

					</li>

				{% endfor %}

			</ul>

		{% endif %}

		<div class="section section--tight section--no-bottom">

			<div class="section section--xtight section--no-top">
				<small>Find local businesses near you:</small>
			</div>

			<form action="/business-search" method="get" class="business-search business-search--compact">

				<div class="search-submit-combo search-submit-combo--small">

					<input type="search" name="address" class="search-submit-combo__search" placeholder="Address or ZIP">

					<input type="submit" class="button search-submit-combo__submit" value="Search">

				</div>

			</form>

		</div>

	</nav>

</div>
